@import "../../style/variables";

#edit-profile-modal {
  .modal-content {
    & > div.modal-header {
      button {
        margin: 0;
      }
      h2 {
        margin-bottom: 0;
      }
    }

    & > div.modal-body {
      .card {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;

        .card-body {
          form {
            input,
            select,
            textarea {
              margin: 3px;
              border: 1px solid $dark-blue;
            }

            input,
            select {
              height: 38px;
            }

            textarea {
              margin: 3px;
              border: 1px solid $dark-blue;
            }

            .error-msg {
              font-size: 12px;
              color: rgb(122, 12, 22);
              margin-top: 5px;
              margin-bottom: 5px;
              margin-left: 3px;
            }

            .gender-age-wrapper > div {
              width: 50%;
            }
          }
        }
      }
    }
  }
}
