@import "../../style/variables";

.modal {
  form {
    input,
    select {
      height: 38px;
    }

    .form-cards {
      padding: 10px;
      margin: 10px;
    }

    .error-msg {
      font-size: 12px;
      color: rgb(122, 12, 22);
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 15.25px;
    }

    .edit-form-input {
      margin: 3px;
      border: 1px solid $dark-blue;
    }

    .gender-age-wrapper > div {
      width: 50%;
    }
  }

  .modal-header {
    svg {
      margin-left: 18px;
    }
    button {
      margin-right: 18px;
      margin-left: 0;
    }
    h2 {
      margin-bottom: 0;
    }
  }
}
