@import "../../style/variables";

.modal {
  .sign-in-buttons {
    padding: 16px;

    button {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    button:nth-child(2) {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .sign-in-password,
  .sign-in-email {
    margin-top: 10px;
    border: 1px solid $dark-blue;
  }
}
