@import "../../style/variables";

#sign-in-modal {
  & > .modal-content {
    & > .modal-header {
      button {
        margin: 0;
      }

      h2 {
        margin: 0 auto;
      }

      svg {
        margin-left: 0;
      }
    }

    & > .modal-body {
      & > .card {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;

        & > .card-body {
          form {
            input {
              width: 100%;
              margin-top: 10px;
              border: 1px solid $dark-blue;
            }

            .error-msg {
              font-size: 12px;
              color: rgb(122, 12, 22);
              margin-top: 5px;
              margin-bottom: 5px;
              margin-left: 3px;
            }
          }
        }
      }
    }

    & > div.first-sign-in-modal-footer {
      padding: 16px;

      button {
        margin-right: 0 !important;
        margin-left: 0 !important;
      }

      button:nth-child(2) {
        margin: 5px 0;
      }
    }

    & > div.second-sign-in-modal-footer {
      a {
        text-decoration: none;
      }
    }
  }
}
