@import "../../style/variables";

.sign-in-password,
.sign-in-email {
  margin-top: 10px;
  border: 1px solid $dark-blue;
}

.sign-in-button {
  background-color: $dark-blue !important;
  color: white;
  border: none !important;
}

.sign-in-google-button {
  background-color: $logo-red !important;
  color: white;
  border: none !important;
}

.sign-in-facebook-button {
  background-color: $logo-blue !important;
  color: white;
  border: none !important;
}
