@import "../../style/variables";

.form-box {
  box-shadow: 5px 5px 5px 5px lightgray;
}

.textarea {
  width: 90%;
  height: 150px;
  margin: 10px 20px 20px 20px;
  border: 1px solid #026FC2;
  border-radius: 4px;
}
.first-last-names{
  display: flex;
  flex-direction: row;
 }

.email {
  width: 90%;
  height: 45px;
  margin: 10px 20px 10px 20px;
  border: 1px solid #026FC2;
  border-radius: 4px;
}

h1 {
    color: $logo-red;
    font-size: max(40px);
    text-align: center;
    padding-bottom: 5%;
  }

h5 {
    color: black;
    text-align: center;
    padding: 0px 50px 20px 50px;
  }

p {
    color: rgb(241, 9, 9);
    font-size: 20px;
  }

img {
    width: 100%;
    max-height: 300px;
    @media screen and (max-width: 767px) {
      padding-top: 20px !important;
      padding-bottom: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      max-height: 350px;
    }
  }

button {
    a {
      text-decoration: none;
      color: $white;
    }
  }

.send-button{
   padding-top: 20px;
   display:flex;
   justify-content: center;
 }

input[type='text']::placeholder {   
      text-align: top;      /* for Chrome, Firefox, Opera */
  }


@media screen and (max-width: 767px){
  .contactus-content-row{
    flex-direction: column-reverse;
    padding-top: -10px;
  }
    .logo-img{
        display: none;
    }
    .main-img{
      padding-top:-10px;
    }
    .app{
      padding-bottom: 30px;
    }
    .send-button{
      padding-bottom: 30px;
    }
    .first-last-names{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      float: left;
    }
    .first-name {
      width: 80%;
      height: 45px;
      margin: 20px 20px 10px 20px;
      border: 1px solid #026FC2;
      border-radius: 4px;
      
    }
    .last-name {
      width: 80%;
      height: 45px;
      margin: 20px 20px 10px 20px;
      border: 1px solid #026FC2;
      border-radius: 4px;
      float:right;
    }
}

@media screen and  (min-width: 767px) and (max-width: 1023px) {
   .first-last-names{
     display: flex;
     flex-direction: row;
    }
    .first-name {
      width: 150px;
      height: 45px;
      margin: 20px 20px 10px 20px;
      border: 1px solid #026FC2;
      border-radius: 4px;
    }
    
    .last-name {
      width: 150px;
      height: 45px;
      margin: 20px 20px 10px 20px;
      border: 1px solid #026FC2;
      border-radius: 4px;
    }
    .contactus-content-row{
        padding-top: 55px;
        padding-bottom: 20px;
       }
    img{
      padding-top: 20px;
      padding-bottom: 20px;
      max-height: 350px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      }
}

@media screen and  (min-width: 1024px) {
.first-last-names{
  display: flex;
  flex-direction: row;

 }
 .first-name {
  width:195px;
   height: 45px;
   margin: 20px 20px 10px 20px;
   border: 1px solid #026FC2;
   border-radius: 4px;
 }
 
 .last-name {
  width:195px;
  margin-right: 25px !important;
  padding-right: 10px;
  height: 45px;
  margin: 20px 20px 10px 20px;
  border: 1px solid #026FC2;
  border-radius: 4px;
 }

.contactus-content-row{
     padding-top: 50px;
     padding-bottom: 10px;
    }

 img{
   padding-top: 20px; 
   padding-bottom: 20px;
   max-height: 350px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
   }
   .form-box{
     width: 100%;
   }
  }

  @media screen and (min-width: 1025px){
    .first-name {
      width:276px;
       height: 45px;
       margin: 20px 20px 10px 20px;
       border: 1px solid #026FC2;
       border-radius: 4px;
     }
     
     .last-name {
      width: 276px;
      margin-right: 25px !important;
      padding-right: 10px;
      height: 45px;
      margin: 20px 20px 10px 20px;
      border: 1px solid #026FC2;
      border-radius: 4px;
     }
     .form-box{
      width: 100%;
    }
  }