@import "../../style/variables"; // it's nice taht you used the sass variables for colors :)

.primary-hero-section {
  .faq-content-container {
    .faq-content-row {
      & > div {
        padding: 0 !important;
      }
      h2 {
        color: $logo-red;
        font-weight: bold;
      }

      h5 {
        color: $logo-blue;
        // font-size: 15px;
        // padding-top: 20px;
        // padding-bottom: 10px;
      }

      p {
        color: $black;
        font-size: 15px;
        font-family: Roboto, sans-serif; // oh it's good that you didn't forget making the stuff Roboto, I actually forgot that so thanks for reminding
      }

      img {
        width: 100%;
        max-height: 450px;
        @media screen and (max-width: 767px) {
          max-height: 280px;
        }
      }

      .first-column {
        @media screen and (max-width: 768px) {
          padding: 30px !important;
        }
      }
    }
  }
}
