@import "../../style/variables"; // it's nice taht you used the sass variables for colors :)

.primary-hero-section {
  .faq-content-container {
    .faq-content-row {
      & > div {
        padding: 0 !important;
      }
      h2 {
        color: $logo-red;
        font-weight: bold;
      }

      h5 {
        color: $logo-blue;
        // font-size: 15px;
        // padding-top: 20px;
        // padding-bottom: 10px;
      }

      p {
        color: $black;
        @media screen and (min-width: 768px) {
          font-size: 15px;
        }
        @media screen and (max-width: 767px) {
          font-size: 11px;
        }
      }

      img {
        @media screen and (min-width: 768px) {
          width: 100%;
          height: 450px !important;
          // border: 100px solid black;
        }
        @media screen and (max-width: 767px) {
          height: 180px;
        }
        @media screen and (min-width: 365px) {
          height: 180px;
        }
        @media screen and (max-width: 364px) {
          width: 60%;
          height: 130px;
        }
      }

      .first-column {
        @media screen and (max-width: 768px) {
          // padding: 30px !important;
        }
      }
    }
  }
}
