@import "../../../style/variables";

.social-proof-content-row {
  min-height: 390px;
  @media screen and (max-width: 768px) {
  }

  & > div {
    padding: 0;
    width: 49%;
  }

  h2 {
    @media screen and (min-width: 992px) {
      font-size: 30px !important;
    }
    @media screen and (max-width: 991px) {
      font-size: 20px !important;
    }
  }

  .first-accordion,
  .second-accordion,
  .third-accordion {
    img {
      border: solid 2px var(--black);
      border-radius: 50%;
    }

    div {
      margin-left: 23px;
      small {
        color: var(--dark-gray);
      }
    }

    .accordion-body {
      padding-left: 40px;
    }

    .carousel {
      max-height: 232px;

      .carousel-item {
        max-height: 232px;
      }
    }
  }
}
