@import "../../style/variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

// refactor styling
// whenever the cards don't have any space between them shirk the sizes of the cards and use the left whitespace inside the column to center the card
// find the breakpoints to change the font-sizes of the people's names

// min w 992px accordion width 710px

.neighbors-container-fluid {
  min-height: calc(100vh - 120px);

  .neighbors-content-container {
    height: 100%;

    & > div:first-child {
      h1 {
      }

      div.quote-wrapper {
        // width: 30%;
        font-size: 12px;
        font-family: Roboto, sans-serif;
        position: relative;

        p {
          margin-bottom: 0;
          line-height: 23px;
        }

        &::after,
        &::before {
          height: 30px;
          width: 30px;
          position: absolute;
          color: var(--dark-blue);
          font-size: 77px;
        }

        &::after {
          content: "\201d";
          right: -4px;
          bottom: 16px;
        }

        &::before {
          content: "\201c";
          top: -22px;
          left: -30px;
        }
      }
    }

    h1 {
      color: $logo-red;
    }

    .filter-wrapper {
      select {
        height: 32px;
        width: 200px;
      }
    }

    & > div:last-child {
      // row
      margin: 0;

      & > div {
        padding: 0;
      }
    }
  }
}
