@import "../../style/variables";
.modal {
  display: flex;
  align-items: center;

  #neighbor-summary-modal {
    .modal-content {
      background-image: url("../../images/Profile/PBG.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      .container-fluid {
        .modal-header {
          border: 0;
          img {
            margin-left: 38px;
            border-radius: 50%;
            border: 1px solid black;
            width: 150px;
            height: 150px;
          }

          span {
            font-size: 35px;
            margin-left: 15px;
          }
        }
        .modal-body {
          & > div.card {
            border-radius: 15px !important;
            height: 100%;
            margin: 10px 40px !important;

            & > div.card-body {
              & > ul {
                list-style: none;
                height: 85%;

                & > li {
                  color: $logo-blue;
                  font-weight: bold;

                  & > span {
                    color: $black;
                    font-weight: normal;
                  }
                }
              }

              & > div.card-title {
                font-weight: bold;
                margin-left: 30px;
              }
            }
          }
        }

        .modal-footer {
          button {
            width: 60%;
          }
        }
      }
    }
  }
}
