@import "../../style/variables";

div#notifications-dropdown {
  position: relative;

  button.dropdown-toggle {
    background-color: $dark-blue;
    border: none;
    box-shadow: none !important;

    &::after {
      content: none;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.75);

      svg {
        fill: rgba(255, 255, 255, 0.75);
      }
    }

    svg {
      fill: rgba(255, 255, 255, 0.55);
      transition: all ease-in-out 150ms;
    }
  }

  div.dropdown-menu {
    padding-bottom: 0;
    max-height: calc(100vh - 200px);
    min-height: 400px;
    min-width: 300px;
    overflow: scroll;

    position: absolute;
    top: 38px;

    @media screen and (max-width: 991px) {
      right: -125px;
    }
    @media screen and (min-width: 992px) {
      right: 0;
    }

    & > .dropdown-header {
      p {
        margin: 0 !important;
        color: black !important;
      }

      button.clear-all-btn {
        color: #6c757d;
        background-color: transparent;
        border: none;
        font-size: 10.5px;
      }
    }
    p {
      color: #6c757d;
    }
  }
}
