@import "../../../style/variables";

.primary-hero-img-bg,
.primary-hero-content-container {
  height: calc(100vh - 60px);
}

.primary-hero-content-row,
.primary-hero-content-row > .col {
  width: 100%;
}

.primary-hero-img-bg {
  background-image: url("../../../utils/PrimaryHeroBgImg.png");

  h1 {
    color: $logo-blue;
    font-size: max(40px);
  }

  p {
    color: white;
    font-size: 20px;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .first-column {
    @media screen and (max-width: 768px) {
      padding-bottom: 50px !important;
    }
  }

  .cta-button {
    background-color: $dark-blue;
  }
}
