.section-wrapper {
  h1 {
    font-size: 36px;
  }

  & > section {
    scroll-snap-align: start;
  }

  section:not(.subscription-img-bg),
  section:not(.subscription-img-bg) > div {
    height: calc(100vh - 60px);
  }

  section > div > div.row {
    width: 100% !important;
  }
}
