@import "../../style/_variables.scss";

.meet-container-fluid {
  height: calc(100vh - 60px);

  & > .meet-container {
    height: 100%;

    & > .meet-row {
      margin: 0;

      & > div:first-child {
        padding: 0;

        h1 {
          color: $logo-red;
        }

        h3 {
          color: $logo-blue;
        }

        p {
          color: $black;
        }
      }
      & > div:last-child {
        padding: 0;
      }
    }
  }
}
