@import "../../style/_variables.scss";

.meet-container-fluid {
  height: calc(100vh - 60px);

  & > .meet-container {
    height: 100%;

    & > .meet-row {
      margin: 0;

      & > div:first-child {
        padding: 0;

        h1 {
          color: $logo-red;

          @media screen and (max-width: 1399px) {
            font-size: 38px;
          }
          @media screen and (max-width: 1199px) {
            font-size: 28px;
          }
          @media screen and (max-width: 991px) {
            font-size: 23px;
          }
        }

        h3 {
          color: $logo-blue;

          @media screen and (max-width: 1199px) {
            font-size: 25px;
          }
          @media screen and (max-width: 991px) {
            font-size: 19px;
          }
        }

        p {
          color: $black;

          @media screen and (max-width: 991px) {
            font-size: 13px;
          }
        }
      }
      & > div:last-child {
        padding: 0;

        img {
          width: 500px;
        }
      }
    }
  }
}
