@import "../../style/variables";

.language-menu {
  width: 35px;

  & > button {
    padding: 3.5px;
    border: none;
    box-shadow: none !important;
    background-color: transparent !important;

    &:hover,
    &:focus {
      background-color: transparent;
      border: none !important;
    }

    &::after {
      content: none;
    }

    & > svg {
      transition: all ease-in-out 150ms;
      width: 29px;
      fill: rgba(255, 255, 255, 0.55);

      &:hover {
        transition: all ease-in-out 150ms;
        fill: rgba(255, 255, 255, 0.75);
      }
    }
  }

  div.dropdown-menu {
    position: absolute;
    top: 38px;

    @media screen and (max-width: 991px) {
      right: -65.5px;
    }
    @media screen and (min-width: 992px) {
      right: 0;
    }

    .dropdown-header {
      padding: 0 0 0 5px;

      small {
        color: #4f4e4e;
      }
    }

    & > button {
      background-color: white;
      color: black;
      border: none;
      width: 100%;
      padding: 0;

      svg {
        width: 35px;
        height: 35px;
        border-radius: 8px;
        margin-left: 5px;
      }

      span {
        margin-left: 7px;
      }
    }

    .active-language {
      transition: all ease-in-out 400ms;
      color: white;
      background-color: $dark-blue;
    }
  }
}
