@import "../../style/variables";

.language-menu {
  width: 35px;

  & > button {
    padding: 3.5px;
    border: none;
    box-shadow: none !important;
    background-color: transparent !important;

    &:hover,
    &:focus {
      background-color: transparent;
      border: none !important;
    }

    &::after {
      content: none;
    }

    & > svg {
      transition: all ease-in-out 150ms;
      width: 29px;
      fill: rgba(255, 255, 255, 0.55);

      &:hover {
        transition: all ease-in-out 150ms;
        fill: rgba(255, 255, 255, 0.75);
      }
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 38px;

    @media screen and (max-width: 991px) {
      right: -65.5px;
    }
    @media screen and (min-width: 992px) {
      right: 0;
    }
  }
}
