:root {
  --logo-blue: #57b7df;
  --logo-red: #f1592a;
  --logo-orange: #f7941e;
  --logo-green: #8cc63f;
  --dark-blue: #2a5885;
  --bootstrap-blue: #026fc2;
  --black: #363a3d;
  --white: #ffffff;
  --dark-gray: #646464;
}

$logo-blue: #57b7df;
$logo-red: #f1592a;
$logo-orange: #f7941e;
$logo-green: #8cc63f;

$dark-blue: #2a5885;
$bootstrap-blue: #026fc2;
$black: #363a3d;
$white: #ffffff;
$gray: #efefef;
