:root {
    --logo-blue: #2a5885;
    --logo-red: #f1592a;
    --logo-orange: #f7941e;
    --logo-green: #8cc63f;
    --dark-blue: #2a5885;
    --bootstrap-blue: #026fc2;
    --black: #363a3d;
    --white: #ffffff;
  }
  
  // logo colors
  $logo-blue: #57b7df; // some headers
  $logo-red: #f1592a; // some headers
  $logo-orange: #f7941e;
  $logo-green: #8cc63f;

  // other colors
  $dark-blue: #2a5885; // navbar bg, footer bg, buttons bg
  $bootstrap-blue: #026fc2; // input borders
  $black: #363a3d; // input placeholder texts
  $white: #ffffff;