@import "../../../style/variables";

  h3{
    color:  $logo-blue;
    font-size: max(15px);
    padding-top: 20px;
    padding-bottom: 10px;
    
    font-family: Roboto, sans-serif;
  }

  h2{
    color:  $logo-red;
    font-weight: bold;
    font-family: Roboto, sans-serif;
  }

  p {
    color: black;
    font-size: 15px;
    font-family: Roboto, sans-serif;
  }

  img {
    width: 100%;
    max-height: 450px;
    @media screen and (max-width: 767px) {
      max-height: 280px;
    }
  }

  .first-column {
    @media screen and (max-width: 768px) {
      padding: 30px !important;
      
    }
  }

