@import "../../style/variables";

.features-section {
  .features-content-container {
    h2 {
      color: $logo-red;
      text-align: center;
      @media screen and (min-width: 768px) {
        margin-bottom: 30px;
        font-size: 40px;
      }
    }

    .features-content-row {
      margin: 0 !important;

      & > div {
        // columns inside the row
        padding: 0;

        div.card {
          // card divs inside the columns
          margin: 0;
          padding: 10px;
          transition: all ease-in-out 300ms;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

          @media screen and (min-width: 342px) {
            height: 153px;
          }
          @media screen and (min-width: 576px) {
            width: 300px;
            height: 170px;
          }
          @media screen and (max-width: 767px) {
            width: 100% !important;
          }
          @media screen and (min-width: 768px) {
            margin: 0 auto;
            height: 245px;
            width: 100% !important;
          }

          & > svg {
            fill: $logo-blue;
            transition: all ease-in-out 300ms;

            @media screen and (min-width: 362px) {
              min-width: 70px;
              max-width: 120px;
              min-height: 35px;
              max-height: 70px;
            }

            @media screen and (max-width: 361px) {
              height: 59px !important;
              width: 70px !important;
            }

            &.network-svg {
              margin-bottom: 7px;
            }

            &.speech-bubble-svg {
              margin-bottom: 3px;
            }
          }

          &:hover {
            // whenever the card gets hovered on...
            background-color: #8dd6f5;
            transition: all ease-in-out 300ms;

            svg {
              transition: all ease-in-out 300ms;
              fill: $black;
            }

            .card-title {
              color: $logo-red;
              transition: all ease-in-out 300ms;
            }

            .card-text {
              color: $white;
              transition: all ease-in-out 300ms;
            }
          }

          & > .card-title {
            color: $logo-orange;
            transition: all ease-in-out 300ms;

            @media screen and (min-width: 992px) and (max-width: 1259px) {
              font-size: 25px;
            }
            @media screen and (min-width: 1260px) {
              font-size: 30px;
            }
          }

          & > p.card-text {
            transition: all ease-in-out 300ms;

            @media screen and (max-width: 341px) {
              font-size: 11px;
            }
            @media screen and (min-width: 342px) and (max-width: 1259px) {
              font-size: 13px;
            }
            @media screen and (min-width: 1260px) {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
