@import "../../style/variables";

.features-section {
  .features-content-container {
    h2 {
      color: $logo-blue;
      text-align: center;
      @media screen and (min-width: 768px) {
        margin-bottom: 30px;
        font-size: 40px;
      }
    }

    .features-content-row {
      margin: 0 !important;

      & > div {
        .card {
          transition: all ease-in-out 300ms;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

          // @media screen and (max-width: 575px) {
          padding: 10px;
          // }
          @media screen and (min-width: 342px) {
            height: 153px;
          }
          @media screen and (min-width: 576px) {
            width: 300px;
            height: 170px;
          }
          @media screen and (max-width: 767px) {
            width: 100% !important;
          }
          @media screen and (min-width: 768px) {
            margin: 0 auto;
            height: 245px;
            width: 100% !important;
          }

          & > svg {
            @media screen and (min-width: 362px) {
              min-width: 70px;
              max-width: 120px;
              min-height: 35px;
              max-height: 70px;
            }

            @media screen and (max-width: 361px) {
              height: 59px !important;
              width: 70px !important;
            }

            &.network-svg {
              margin-bottom: 7px;
            }

            &.speech-bubble-svg {
              margin-bottom: 3px;
            }
          }

          & > .card-title {
            color: $logo-red;
          }
        }
      }

      p {
        @media screen and (max-width: 341px) {
          font-size: 11px;
        }
        @media screen and (min-width: 454px) {
          font-size: 15px;
        }
        @media screen and (min-width: 768px) {
          font-size: 17px;
        }
      }

      & > div {
        padding: 0;

        & > div {
          margin: 0;
        }
      }

      .card:hover {
        background-color: $logo-blue;
        transition: all ease-in-out 300ms;

        .card-title {
          color: $white;
          transition: all ease-in-out 300ms;
        }
      }
    }
  }
}

@media screen and (min-width: 237px) and (max-width: 767px) {
  .features-content-row p {
    @media screen and (min-width: 342px) and (max-width: 453px) {
      font-size: 13px;
    }
  }
}
