@import "../../style/variables";

.primary-hero-img-bg {
  background-image: url("../../images/PrimaryHeroBgImg.png");

  .primary-hero-content-container {
    .primary-hero-content-row {
      & > div:first-child {
        padding-right: 10px !important;

        @media screen and (max-width: 768px) {
          padding-bottom: 50px !important;
        }

        h1 {
          color: $logo-blue;
          font-size: max(40px);
          font-weight: bold;
        }

        p {
          color: white;
          font-size: 20px;
        }
      }

      & > div:last-child {
        img {
          width: 100%;
          max-height: 350px;
          @media screen and (max-width: 767px) {
            max-height: 280px;
          }
        }
      }
    }
  }
}
