@import "../../style/variables";

.primary-hero-img-bg {
  background-image: url("../../images/PrimaryHeroBgImg.png");

  .primary-hero-content-container {
    .primary-hero-content-row {
      & > div:first-child {
        padding-right: 10px !important;

        h1 {
          color: $logo-blue;
          font-weight: bold;

          @media screen and (max-width: 991px) {
            font-size: 32px;
          }
        }

        p {
          color: white;
          font-size: 20px;

          @media screen and (max-width: 991px) {
            font-size: 17px;
          }
        }
      }

      & > div:last-child {
        img {
          width: 100%;

          @media screen and (max-width: 281px) {
            max-height: 310px;
          }
          @media screen and (max-width: 767px) {
            max-height: 280px;
          }
          @media screen and (min-width: 767px) {
            max-height: 350px;
          }
        }
      }
    }
  }
}
