html {
  scroll-snap-type: y mandatory;
  scroll-padding-top: 60px;
}

body {
  scroll-snap-type: y mandatory;
  scroll-padding-top: 60px;
  margin: 0;
}

.main-wrapper {
  min-height: 100vh;
  scroll-snap-type: y mandatory;
}

.container,
.container-fluid {
  padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: Roboto, sans-serif;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc !important;
  // opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc !important;
}
