html {
  scroll-snap-type: y mandatory;
  scroll-padding-top: 60px;
}

body {
  scroll-snap-type: y mandatory;
  scroll-padding-top: 60px;
  margin: 0;
}

section {
  scroll-snap-align: start;
}
.main-wrapper {
  min-height: 100vh;
  scroll-snap-type: y mandatory;
}

.container,
.container-fluid {
  padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: Roboto, sans-serif;
}
