@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

html {
  scroll-snap-type: y mandatory;
  scroll-padding-top: 60px;
}

body {
  scroll-snap-type: y mandatory;
  scroll-padding-top: 60px;
  margin: 0;
}

.main-wrapper {
  min-height: 100vh;
}

.container,
.container-fluid {
  padding-right: 0 !important;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Courgette", "Roboto", sans-serif;
}

p {
  font-family: "Poppins";
}

.error-msg {
  font-family: "Courgette";
  margin-left: 9px !important;
}
